<section class="login">
  <form id="login" {{action 'authenticate' on='submit'}}>
    <h1>Foundation</h1>
    {{#if loginError}}
      <p class="login-error">Unable to login.</p>
    {{/if}}
    <label for="identification">Login</label>
    {{input id='identification' placeholder='Enter Login'
            value=identification}}
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter Password'
            type='password' value=password}}
    <button id="submit" type="submit">Login</button>
    {{link-to 'Sign Up' 'register' class='button'}}
    {{link-to 'Forgot Your Password?' }}
  </form>
</section>
